body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

.container {
    background-color: #202020;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.boxcontainer {
    background-color: #7250FF;
    height: 400px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.uno {
    background-color: #FF4928;
    width: 200px;
    height: 200px;
    border-radius: 15px;
}