body {

    font-family: sans-serif;
    background-color: aquamarine;
}

.imagenes-container{
    margin: 100px auto;
    width: 500px;
    display: flex;
    flex-direction: row;
    /* gap: 30px; */
}
.imagenes-container .imagen {
    position: relative;
    margin-right: -20px;
    display: inline-flex;
    flex-direction: column;
    
}
.imagenes-container .imagen img {
    width: 100px;
    height: 100px;
     
}
.imagenes-container .imagen .nombre {
    background-color: black;
    border-radius: 5px;
    color: white;
    display: none;
    min-width: 100px;
    width: 150px;
    position: absolute;
    top:  -50px;
    left: calc();
}

.imagenes-container .imagen:hover .nombre {
    display: flex;

}